<h2>Top links</h2>

<ul>
<% @links.each do |p| %>
<li>
   Link Name: "<%= p.title  %>" <%= p.url %>
   Recommend by <%= p.user %>
</li>
<br /> 
<%= link_to "comments", link_path(:id => p.id) %>
<br /> 
<%= link_to "+", votes_path(:vote => {:link_id => p.id, :up => true}), :method => :post %>
<%= link_to "-", votes_path(:vote => {:link_id => p.id, :up => false}), :method => :post %>
<br />
Up Votes: <%= p.votes.where(:up => true).count %>
Down Votes: <%= p.votes.where(:up => false).count %>
<p>
<% end %>

<h3><%= link_to "Add a link", new_link_path %></h3>
<p>

<%= will_paginate @links %>